@import url('https://fonts.googleapis.com/css?family=Ubuntu')
@import 'extras/*.styl'
@import 'base/*.styl'

html
    height 100%

body
    height 100%
    user-select none
    touch-callout none
    font-smoothing subpixel-antialiased
    font 14px/18px 'Ubuntu', sans-serif
    color #3
