@import url('https://fonts.googleapis.com/css?family=Ubuntu')

html
    height 100%

body
    height 100%
    user-select none
    touch-callout none
    font-smoothing subpixel-antialiased
    font-family 'Ubuntu', sans-serif
    font-size 14px
    line-height 18px
    color #3
