@font-face
    font-family 'Myriad Set Pro'
    font-style normal
    font-weight 100
    src url("/fonts/myriad-set-pro_extrathin.woff") format('woff')

@font-face
    font-family 'Myriad Set Pro'
    font-style normal
    font-weight 300
    src url("/fonts/myriad-set-pro_ultralight.woff") format('woff')

@font-face
    font-family 'Myriad Set Pro'
    font-style normal
    font-weight 400
    src url("/fonts/myriad-set-pro_medium.woff") format('woff')

@font-face
    font-family 'Myriad Set Pro'
    font-style normal
    font-weight 600
    src url("/fonts/myriad-set-pro_bold.woff") format('woff')

@font-face
    font-family 'Myriad Set Pro'
    font-style italic
    font-weight 400
    src url("/fonts/myriad-set-pro_text-italic.woff") format('woff')

@font-face
    font-family 'Myriad Set Pro'
    font-style italic
    font-weight 500
    src url("/fonts/myriad-set-pro_semibold-italic.woff") format('woff')
