.aside
    fadeInLeft(.3s)
    width 240px
    border-right 1px solid oc-gray-3
    height 100%
    
    &--name
        display block
        font-size 1.4em
        
    &--email
        color oc-gray-6
    
    &--icon
        border-radius 50%
        width 120px
        height 120px
        margin 35px auto
        display block

    &__header
        width 100%
        padding 0 25px
        
        &--titles
            text-align center
