.auth
    &__form
        margin-top 5%
        
        &--title
            font-size 1.8em
            margin-bottom 15px
            text-align center
            
        &--controls
            display flex
            flex-direction column
            justify-content center
            text-align center

            & > span
                margin-right 10px
                font-size 1.2em
                display block
                margin 5px 0 10px
