.input
    background-color #EF
    outline 0 !important
    border 0 !important
    height 40px
    font-size 1em
    padding 0 15px
    box-sizing border-box
    border-radius 2px
    width 100%
    
    &:focus
        placeholder(transparent)

    &--large
        height 40px
