.panel
    background-color #fff
    border 1px solid #f3
    border-radius 2px
    
    &--header
        padding 30px
        border-bottom 1px solid oc-gray-1
        background-color #fc
    
    &--body
        padding 0 30px 30px
        
    &--footer
        padding 20px 30px
        border-top 1px solid #f3
        background-color #fc

    &--tools
        padding 30px 30px 0
        display flex
        color oc-gray-6
        span
            padding-left 5px
            vertical-align super

