button(color)
    background-color color
    
    &:hover
        background-color color - 10%
        cursor pointer
        
    &[disabled]
        background-color color + 35%
        cursor default
